# =============================================
# Lightning
# =============================================
torch>=1.8.1
torchvision>=0.9.1
pytorch-lightning==1.6.5
torchmetrics

# =============================================
# Hydra
# =============================================
hydra-core==1.1.0
hydra-colorlog
# hydra-optuna-sweeper>=1.1.0
omegaconf==2.1.0

# =============================================
# Logging
# =============================================
wandb
loguru

# =============================================
# Common Used Tools
# =============================================
einops
pandas
openpyxl
matplotlib
scikit-learn

# =============================================
# Computer Vision
# =============================================
opencv-python
pycocoevalcap
timm
diffusers

# =============================================
# Nautral Language Processing
# =============================================
transformers
spacy
nltk
ftfy
bert_score==0.3.11
wordcloud
google-generativeai

# =============================================
# Utils
# =============================================
python-dotenv   # loading env variables from .env file
rich            # beautiful text formatting in terminal
pytest          # tests
sh              # for running bash commands in some tests
ipython         # convenient interactive shell
jupyterlab      # JupyterLab to run Jupyter Notebooks
jupyterlab-vim  # use vim key bindings in JupyterLab
ipywidgets
jsonlines       # for reading and writing jsonl files
ray             # for distributed running of tasks
# gpustat         # for getting GPU usage
netron          # visualize PyTorch models
gradio          # for demo
bokeh           # plot figures
lmdb-embeddings

# =============================================
# Linters
# =============================================
pre-commit      # hooks for applying linters on commit
black           # code formatting
isort           # import sorting
flake8          # code analysis
nbstripout      # remove output from jupyter notebooks
